.about-section {
    height: auto;
    width: 100%;
}

.about-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 5rem;

    @include tablet-landscape {
        display: block;
    }

    @include tablet-portrait {
        display: block;
    }

    @include mobile {
        display: block;
    }
}

.about-text {
    padding: 2rem;
    width: 50rem;

    @include tablet-landscape {
        display: block;
        margin: 0 auto;
    }

    @include tablet-portrait {
        display: block;
        margin: 0 auto;
    }

    @include mobile {
        display: block;
        margin: 0 auto;
    }
}

.about-photo {
    height: 50rem;
    width: 50rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0), rgba($color-primary-dark, 0.25)), url('../assets/about-photo.png');
    background-size: cover;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;

    @include tablet-landscape {
        display: block;
        margin: 0 auto;
    }

    @include tablet-portrait {
        display: block;
        margin: 0 auto;
        height: 40rem;
        width: 40rem;
    }

    @include mobile {
        display: block;
        margin: 0 auto;
        height: 40rem;
        width: 40rem;
    }
}