.button {
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    color: $color-white;
    font-size: 1.75rem;
    outline: none;
    background-color: $color-primary;
    box-shadow: $box-shadow;

    transition: all 0.2s;

    @include tablet-portrait {
        font-size: 1.5rem;
    }

    @include mobile {
        font-size: 1.5rem;
    }

    &:hover {
        transform: translateY(-0.25rem);
        background-color: $color-primary-dark;
    }
}