.button {
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    color: $color-white;
    outline: none;
    background-color: $color-primary;
    box-shadow: $box-shadow;

    transition: all 0.2s;

    &:hover {
        transform: translateY(-0.25rem);
        background-color: $color-primary-dark;
    }
}