.footer {
    padding: 1rem;
    color: $color-white;
    background-color: rgba($color-primary, 0.4);
}

.footer-text {
    text-align: center;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
    width: 12rem;
    padding: 1rem;
}

.footer-icon {
    font-size: 3rem;    
    color: $color-white;
    cursor: pointer;

    transition: all 0.2s;

    &:hover {
        color: $color-primary;
    }
}