.ongoing-text {
    padding: 2rem;
    width: 50rem;
}

.ongoing-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 5rem;
}

.ongoing-photo {
    margin: 0 auto;
    margin-bottom: 4rem;
    height: 8rem;
    width: 8rem;
    background-size: cover;

    &--1 {
        background-image: url('../assets/want_logo.png');
    }

    &--2 {
        background-image: url('../assets/cc_logo.png');
    }
}

