.opener-section {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.25), rgba($color-primary-dark, 0.5)), url(https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14dba03b77081bef7eb9ac400a5ad015&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
}

.opener-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100rem;
    transform: translate(-50%, -50%);
    padding: 0 5rem;
    text-align: center;
    color: $color-white;
    animation: fadeIn 1s;
}

.opener-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 12rem;
    padding: 1rem;
}

.opener-icon {
    font-size: 3rem;    
    color: $color-white;
    cursor: pointer;

    transition: all 0.2s;

    &:hover {
        color: $color-primary;
    }
}