.resume-section {
    padding-top: 15rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to bottom, rgba($color-primary-dark, 0.2), rgba($color-primary, 0));
}

.resume {
    height: auto;
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: $color-white;
    box-shadow: $box-shadow;
}

.resume-sub-heading {
    border-bottom: 1px solid $color-primary;

    &__title {
        margin: 0;
        margin-bottom: 1rem;
    }
}

.resume-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    height: 4rem;
}

.resume-text {
    margin: 0;
    margin-left: 2rem;
}

.resume-link {
    text-decoration: none;
    color: $color-black;
    font-weight: 700;
}

.resume-position {
    margin: 0;
    margin-left: 2rem;
}