.section-header {
    text-align: center;
    margin-bottom: 10rem;

    @include tablet-landscape {
        display: block;
        margin-bottom: 10rem;
    }

    @include tablet-portrait {
        display: block;
        margin-bottom: 6rem;
    }

    @include mobile {
        display: block;
        margin-bottom: 4rem;
    }
}

.section-text {
    margin: 2rem auto;
    text-align: left;
    width: 50%;

    @include tablet-landscape {
        width: 60%;
    }

    @include tablet-portrait {
        width: 70%;
    }

    @include mobile {
        width: 80%;
    }
}

.section-list {
    margin: 0 auto;
    height: auto;
    width: 50%;
    list-style: none;
    
    @include tablet-landscape {
        width: 70%;
    }

    @include tablet-portrait {
        width: 80%;
    }

    @include mobile {
        width: 90%;
    }
}

.section-list-item {
    margin: 2rem auto;
    padding: 2rem;
    border-left: 1px solid $color-primary;
}

.section-sub-heading {
    margin-left: 10%;    
}

.section-caption {
    max-width: 30rem;
    background-color: rgba($color-primary, 0.1);
    box-shadow: $box-shadow;
}