// WANT GENERIC ELEMENTS

// WANT OPENER SECTION

.want-opener {
    display: block;
    position: relative;
    height: 96rem;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.75), rgba($color-primary-dark, 1)), url(https://images.unsplash.com/photo-1511620421354-7b3d6e355d2c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=178cdac34d22b010da038bd087e74fd2&auto=format&fit=crop&w=2250&q=80);
    background-size: cover;

    @include tablet-landscape {
        height: 75rem;
    }

    @include tablet-portrait {
        height: 65rem;
    }

    @include mobile {
        height: 55rem;
    }
}

.want-opener-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100rem;
    padding: 1rem;
    text-align: center;
    color: $color-white;
    animation: fadeIn 1s;
}