@import './base/base';
@import './base/typography';
@import './base/utilities';
@import './base/variables';

@import './animations/animations';

@import './components/about';
@import './components/button';
@import './components/contact';
@import './components/ebse';
@import './components/footer';
@import './components/intersect';
@import './components/navigation';
@import './components/ongoing';
@import './components/opener';
@import './components/projects';
@import './components/resume';
@import './components/section';