@mixin mobile {
    @media (max-width: 600px) { @content; }
}

@mixin tablet-portrait {
    @media (max-width: 920px) { @content; }
}

@mixin tablet-landscape {
    @media (max-width: 1200px) { @content; }
}

@mixin desktop {
    @media (max-width: 1800px) { @content; }
}