h1 {
    font-size: 4.5rem;

    @include tablet-landscape {
        font-size: 4rem;
    }

    @include tablet-portrait {
        font-size: 3.5rem;
    }

    @include mobile {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2.5rem;

    @include tablet-portrait {
        font-size: 2rem;
    }

    @include mobile {
        font-size: 2rem;
    }
}

h3 {
    font-size: 2rem;

    @include tablet-portrait {
        font-size: 1.75rem;
    }

    @include mobile {
        font-size: 1.75rem;
    }
}

p {
    font-size: 1.75rem;

    @include tablet-portrait {
        font-size: 1.5rem;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}

a {
    font-size: 1.75rem;

    @include tablet-portrait {
        font-size: 1.5rem;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}

li {
    font-size: 1.75rem;

    @include tablet-portrait {
        font-size: 1.5rem;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}

label {
    font-size: 1.75rem;

    @include tablet-portrait {
        font-size: 1.5rem;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}