// COLOR SCHEME
$color-primary: #9b59b6; 
$color-primary-dark: #8e44ad;
$color-white: #fff;
$color-black: #000;
$color-grey: #bdc3c7;

// BOX-SHADOW
$box-shadow: 0rem 1rem 2rem rgba($color-black, 0.1);